<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285176901361-nf4sf6mqmrja8dnj31ga8sn2kc0qcd4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285176901361-nf4sf6mqmrja8dnj31ga8sn2kc0qcd4s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>285176901361-d5d3rbfnud9bt2ofscpooqeu53o26n5n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlYIlfynD8xdohkzLOJY36GJL35FVL4ZA</string>
	<key>GCM_SENDER_ID</key>
	<string>285176901361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appPfe</string>
	<key>PROJECT_ID</key>
	<string>explorer-dz</string>
	<key>STORAGE_BUCKET</key>
	<string>explorer-dz.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285176901361:ios:8fddb486dab78f4fcd8350</string>
</dict>
</plist>